<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New PRODUCT PAGE</title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <div class="banner">     <h1>Select a Board</h1></div>

            DISPLAY boards
            <li>Public Board</li>
           <li>Create Private</li>
           <li>My Boards</li>
            -
        <form action="/products" method="POST">
            User: <input type="text" name="user" /><br/>
            Product: <input type="text" name="product" /><br/>
            SuperUser: <input type="checkbox" name="superUser" /><br/>
            <input type="submit" name="" value="boards"/>
        </form>


        <h1>New Product page</h1>
        <form action="/products" method="POST">
            User: <input type="text" name="user" /><br/>
            Product: <input type="text" name="product" /><br/>
            SuperUser: <input type="checkbox" name="superUser" /><br/>
            <input type="submit" name="" value="boards"/>
        </form>
    </div>
    </body>
</html>