<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <div class="banner">     <h1>LOGIN SCREEN</h1></div>
            <div class="container">
                <div class="banner">     <h4>JB Stores</h4></div>
               
                   <form action="/products" method="POST">
                       Username: <br> <input type="text" name="name" /><br/> 
                       <label for="password">Password:</label>
                       <input type="fname" id="fname" name="fname"><br><br>
                       <input type="submit" name="name" value="Login as User"/>
                   </form>
           
           
            
           
           
                   <a href="/products">CREATE Shoppy *NEEDS LINK*</a> <br>
                  
                     <a href="/products/user">Login with Existing</a> <br>
                     
                     <a href="/products">Dev Login</a> <br>
                     
                   </nav>
                   </div>
        </nav>
        </div>
    </body>
</html>