<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
     <div class="banner">     <h4>JB Stores</h4></div>
    
      

      Item View
        Item:   <%=product.item; %> <br>
        Category:   <%=product.category; %> <br>
        Price:  $<%=product.price; %> <br>
        Quantity Available:  $<%=product.qty; %> <br>
        Image: (coming soon)
        <button>Buy</button>

          
          <a href="/products">Dev Login</a> <br>
          <a href="/products">Back to Index FIX LINK</a> <br>
          
        </nav>
        </div>
    </body>
</html>