* {
    font-size: 24px;
}
li {
    list-style-type:none
}

h2 {
    color: blue;
}


.banner {
    width: 100%;
    background-color:rgb(247, 15, 15);
    border: 3px solid black;
    color: white;
    height: 24px;
    font-size: 36px;
    border-radius: 10px;
    margin-top: 0px;
    padding: 5px;
    text-align: right;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 24px;
}
.img {
    float:right;
    width: 100px;
}

.highlighter{
    background-color: black;
    color: black;
}

.container{
    border: 1px solid black;
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 20px;
    overflow: scroll;
    margin-top:1rem;
    margin-bottom:1rem;
    padding-left:1rem;
    padding-right:1rem;
}
img{
    width: 50px;
}

form:-ms-input-placeholder {
    background-color: rgb(0, 0, 0);
    color: white;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    /* margin: 10px 0; */


    word-wrap: break-word;
    overflow: break-word;
    word-wrap: break-word;
    display: break-word;
 
 
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
    word-wrap: break-word;
    overflow: break-word;
    word-wrap: break-word;
    display: break-word;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

.input {

}
canvas{
  background-color: blue;
  height: 200px;
  width: 200px;
  float:right;
  display: inline-block
}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color:rgb(255, 128, 128);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.navbarTop {
    overflow: hidden;
    background-color:rgb(255, 128, 128);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}





head {
    background-image: linear-gradient(to right, black, white);
}
